
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    margin: 0;
    background-color: #f0f0f0;
  }

  .card-container {
    width: 706px;
    height: 354px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
  }

  .card {
    display: flex;
    width: 100%;
  }


  .left {
    padding: 20px;
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .right {
    width: 60%;
  }


  .title {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter Medium", sans-serif;
  }

  .subtitle {
    font-size: 15px;
    font-family: "Inter Regular", sans-serif;
  }


  .card-content p {
    margin: 0;
    margin-bottom: 10px;
  }

  .card-content span {
    font-weight: normal;
    font-size: 15px;
    font-family: "Inter Extra Light", sans-serif;
  }


  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }


  .university-title h2 {
    margin: 0;
  }