.Footer-Inicio{
    background-color: rgb( 0, 166, 76);
    margin-top: 20px;
    padding-bottom: 8%;
}

.Contenedor-Footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 13%;
    padding-top: 3%;
    padding-bottom: 30px;
}
.titulo-contenido{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.texto-contenido{
    font-family: Inter;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.footerCopyrightText{
    font-family: Inter;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    text-align: center;
}