.Header-Layout {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 16px;
}

.Header-Layout img {
    max-width: 50%;
    height: auto;
    padding-left: 30px;
    margin-bottom: 20px;
}

.Header-Layout ul {
    margin-right: 40px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-Layout li {
    margin: 0 10px;
    padding: 0 10px;
}

.Header-Layout a {
    color: white;
    text-decoration: none;
}

.Header-Layout nav li h1 {
    display: inline;
    margin: 0 10px;
    padding: 0 5px;
}

.select {
    background-color: rgb(0, 166, 76);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .Header-Layout {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .Header-Layout ul {
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
    }

    .Header-Layout li {
        margin: 10px 0;
    }

    .select {
        padding: 10px; 
    }
}