html,
body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
    margin: 0;
}

div{
    width: 100%;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.conteiner_izq{
    flex: 2;
    padding-left: 30px;
    margin-top: 20px;
}

.conteiner_der{
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
}