html,
body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
    margin: 0;
}

div{
    width: 100%;
}