* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family:  'Inter', sans-serif;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("./imagenes/fondo-universidad2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}