* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body.image-background {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("./imagenes/fondo-universidad2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-x: hidden;
  background-attachment: fixed;
  margin: 0;
}

body.white-background {
  background-color: white;
}
